.fi-topbar, .fi-sidebar-header {
    @apply !bg-transparent !ring-0 !shadow-none;
    transition: background-color 0.3s, top 0.3s;
}

.fi-topbar.topbar-hovered, .fi-sidebar-header.topbar-hovered {
    background-color: rgba(255, 255, 255, 0.75) !important;
}

:is(.dark .fi-topbar.topbar-hovered, .dark .fi-sidebar-header.topbar-hovered) {
    @apply !bg-gray-900/75;
}

.fi-topbar.topbar-scrolled, .fi-sidebar-header.topbar-scrolled {
    background-color: rgba(255, 255, 255, 0.5) !important;
}

:is(.dark .fi-topbar.topbar-scrolled, .dark .fi-sidebar-header.topbar-scrolled) {
    @apply !bg-gray-900/50;
}
